<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>URL링크결제 생성</h3>
<div id="form_area">
  <form id="LinkRegForm" name="LinkRegForm">
    <table>
      <tr>
        <td>*결제수단</td>
        <td>
          :
          <span>
                            <select id="PCD_PAY_TYPE" name="PCD_PAY_TYPE">
                                <option value="transfer|card">계좌+카드</option>
                                <option value="transfer">계좌이체결제</option>
                                <option value="card">신용카드</option>
                            </select>
                        </span>
          <span id="card_ver_view" style="display: none">
                            <select id="PCD_CARD_VER" name="PCD_CARD_VER">
                                <option value="01+02">간편/정기+앱카드</option>
                                <option value="01">간편/정기(빌링키결제)</option>
                                <option value="02">앱카드</option>
                            </select>
                        </span>
        </td>
      </tr>
      <tr>
        <td>*상품명</td>
        <td> :
          <input type="text" name="PCD_PAY_GOODS" id="PCD_PAY_GOODS" value="" required="required" />
        </td>
      </tr>
      <tr>
        <td>*결제요청금액</td>
        <td> :
          <input type="number" name="PCD_PAY_TOTAL" id="PCD_PAY_TOTAL" value="" required="required" />
        </td>
      </tr>
      <tr>
        <td>현금영수증 발행여부</td>
        <td> :
          <select id="PCD_TAXSAVE_FLAG" name="PCD_TAXSAVE_FLAG">
            <option value="N">N</option>
            <option value="Y">Y</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>URL 결제 만료일</td>
        <td> :
          <input type="number" name="PCD_LINK_EXPIREDATE" id="PCD_LINK_EXPIREDATE" value="" />
        </td>
      </tr>
    </table>
  </form>
  <button id="linkRegAct">링크생성 요청</button>
</div>
<br />
<hr />
<div id="linkRegResult"></div>
</body>
</html>